.circularProgress {
  display: inline-block;
  border-radius: 50%;
  border-style: solid;
  border-top-color: transparent;
  animation: spin 1.4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.primary {
  border-color: #96FF5E;
  border-top-color: transparent;
}

.secondary {
  border-color: #dc004e;
  border-top-color: transparent;
}

.inherit {
  border-color: currentColor;
  border-top-color: transparent;
}